
.page {

  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:row;

  .content {
    flex: 1 1 auto;
    overflow:hidden;

    iframe {
      width: 100%;
      height: 100vh;
      border:0;
    }
  }

  .sidebar {
    width: 20vw;
    height: 100%;
    max-width: 250px;
    box-shadow: -1px 0 4px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;

    .title {
      background:#1D2951;
      color:#fff;
      font-size: 2em;
      padding:20px;
    }

    .files {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1 1 auto;
      ul {
        list-style:none;
        padding:0;
        margin:0;
        li {
          cursor:pointer;
          padding:8px 10px;
          text-overflow:ellipsis;
          width:100%;
          overflow:hidden;

          &:hover {
            background:#eee;
          }
        }
      }
    }

    .hole {
      border-top: 1px solid #aaa;
      height: 100px;
      background:#eee;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-content:center;
      text-align:center;

      .progress {
        height:5px;
        background:#ddd;
        display:none;
        .progress-bar {
          background: #1D2951;
          height:100%;
          width: 0%;
        }
      }

      &.uploading .progress {
        display:block;
      }
    }
  }

}