
<div class="page">

  <div class="content">
    <iframe *ngIf="contentUrl" [src]="contentUrl"></iframe>
  </div>

  <div class="sidebar">
    <div class="title">
      Drophole
    </div>


    <div class="files">
      <ul>
        <li *ngFor="let file of files | async" (click)="setContent(file)" class="file">{{ file.filename }}</li>
      </ul>
    </div>

    <div class="hole" [class.uploading]="uploading">
      <ngx-dropzone label="HOLE!" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>

      <div class="progress">
        <div class="progress-bar" [style.width]="uploadPercent + '%'"></div>
      </div>
    </div>


  </div>

</div>

